# Based on https://github.com/hvr/multi-ghc-travis

language: c

# Explicitly request container-based infrastructure.
sudo: false

matrix:
  include:
    - env: CABALVER=1.16 GHCVER=7.4.2
      addons: {apt: {packages: [cabal-install-1.16, ghc-7.4.2,  libssl-dev, libapr1-dev, libaprutil1-dev], sources: [hvr-ghc]}}
    - env: CABALVER=1.16 GHCVER=7.6.3
      addons: {apt: {packages: [cabal-install-1.16, ghc-7.6.3,  libssl-dev, libapr1-dev, libaprutil1-dev], sources: [hvr-ghc]}}
    - env: CABALVER=1.18 GHCVER=7.8.4
      addons: {apt: {packages: [cabal-install-1.18, ghc-7.8.4,  libssl-dev, libapr1-dev, libaprutil1-dev], sources: [hvr-ghc]}}
    - env: CABALVER=1.22 GHCVER=7.10.3
      addons: {apt: {packages: [cabal-install-1.22, ghc-7.10.3, libssl-dev, libapr1-dev, libaprutil1-dev], sources: [hvr-ghc]}}
    - env: CABALVER=1.24 GHCVER=8.0.1
      addons: {apt: {packages: [cabal-install-1.24, ghc-8.0.1,  libssl-dev, libapr1-dev, libaprutil1-dev], sources: [hvr-ghc]}}
    - env: CABALVER=head GHCVER=head
      addons: {apt: {packages: [cabal-install-head, ghc-head,   libssl-dev, libapr1-dev, libaprutil1-dev], sources: [hvr-ghc]}}

  allow_failures:
    - env: CABALVER=1.24 GHCVER=8.0.1
    - env: CABALVER=head GHCVER=head

before_install:
  - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PWD/test/apache-htpasswd:$PATH
  - chmod +x test/apache-htpasswd/build.sh
  - ./test/apache-htpasswd/build.sh

install:
  - cabal --version
  - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
  - travis_retry cabal update
  - cabal install --only-dependencies --enable-tests --enable-benchmarks

script:
  # Option -fpedantic turns on additional wornings in addition to -Wall.
  #
  # For some reason splitting this step in to configure, build, test and
  # benchmark failed on some combinations of GHC and Cabal (GHC 7.10.3 & Cabal
  # 1.22). Following is the error message:
  # 
  #   cabal: You need to re-run the 'configure' command. The version of Cabal
  #   being used has changed (was Cabal-1.22.5.0, now Cabal-1.22.4.0).
  - cabal install --enable-tests --enable-benchmarks -fpedantic

  # Following line tests if sdist package is created correctly.
  - cabal sdist | sed -rn '$s/^[^:]+:\s+//p' | xargs cabal install --enable-tests --enable-benchmarks
